@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --colorOriginal: rgb(245,223,78);
    --colorElegido: rgb(120,240,121);
    --colorParaFondo: rgb(248,249,250);
    --colorOpcional: rgb(3,252,255);
}
body {
    /*margin-left: 10%;
    background-color: blue;*/
}
header {
    padding-left: 9%;
    font-family: Solway, cursive;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    /*border: 1px solid black;*/
    background-color: white ;
    box-shadow: 10px 0px 10px grey;
}
header h3 {
    width: 180px;
    height: 60px;
    /*border: 1px solid black;*/
    text-decoration: none;
    text-align: left;
    margin-top: 15px;
}
header nav {
    word-spacing: 30px;
    width: 700px;
    height: 60px;
    /*border: 1px solid black;*/
    text-decoration: none;
    /*justify-content: center;*/
    margin-top: 20px;
    padding-left: 50px;
    color: black;
    font-size: 100%;
}
header div {
    word-spacing: 2px;
    width: 200px;
    text-decoration: none;
    text-align: left;
    height: 60px;
    /*border: 1px solid black;*/
    margin-top: 15px;
    margin-right: 0%;
    color: black;
    font-size: 60%;
}
header a {
    color: black;
    text-decoration: none;
    text-align: center;
    /*justify-content: center;*/
}
main {
    font-family: Solway;
    /*width: 1360px;
    height: 550px;
    background-color: rgb(255, 0, 34);
    border: 1px solid black;*/
}
/*aca empieza primera seccion con foto de perfil*/
.primera {
    display: flex;
    /*border: 1px solid black;*/
    width: 1350px;
    height: 580px;
    background-color: var(--colorElegido);
}
.primera a {
    font-size: 130%;
    margin-left: 0%;
    margin-right: 10px;
}
.primera button {
    margin-right: 15px;
}
section {
    justify-content: center;
    /*border: 1px solid black;*/
}
div h2 {
    font-size: 200%;
    /*border: 1px solid black;*/
    margin-top: 165px;
    margin-bottom: 30px;
}
div h1 {
    font-size: 300%;
    /*border: 1px solid black;*/ 
    margin-bottom: 30px;
} 
div p {
    font-size: 200%;
    /*border: 1px solid black;*/
    margin-bottom: 30px;
}
div button {
    background-color: black;
    color: white;
    font-size: 200%;
    /*border: 1px solid black;*/
}
div a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 200%;
    /*border: 1px solid black;*/
}
.imagen {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: 125px;
    border-radius: 250px;
    border: 15px solid white;
}
.flecha{
    display: flex;
    /*border: 1px solid black;*/
    font-size: 100%;
    width: 1350px;
    height: 30px;
    background-color: var(--colorElegido);
    justify-content: center;
    margin: 0 auto;
}
/*aca empieza segunda secci+on con presentación*/
.segunda {
    /*padding-bottom: 20px;*/
}
.segundabis {
    display: flex;
    /*border: 1px solid black;*/
    width: 1350px;
    height: 375px;
}
.encabezado1 p{
    color: black;
    /*border: 1px solid black;*/
    background-color: var(--colorElegido);
    align-items: center;
    margin: 30px auto;
    font-size: 100%;
    width: 102px;
    height: 22px;
}
.encabezado1 h2 {
    color: black;
    /*border: 1px solid black;*/
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 200%;
}
.presentación {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.presentación h2 {
    /*border: 1px solid black;*/
    margin-left: 16.5%;
    margin-top: 5%;
    font-size: 200%;
    width: 725px;
    height: 50px;
}
.presentación h2 span {
    text-decoration: underline rgb(181, 245, 168);
}
.presentación p {
    /*border: 1px solid black;*/
    margin-left: 16.5%;
    margin-top: 1%;
    font-size: 150%;
    width: 725px;
    height: 200px;
}
.experiencia {
    /*border: 1px solid black;*/
    margin-left: 10%;
    margin-top: 2.7%;
    margin-right: 0%;
    width: 400px;
    height: 258px;
}
.experiencia h3 {
    display: flex;
    /*border: 1px solid black;*/
    border-radius: 100px;
    font-size: 1300%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px; 
    background-color: var(--colorElegido);
    /*padding: 60px;*/
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 20px;
    padding-top: 0%;
}
.experiencia h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
}
.tabladatos {
    /*border: 1px solid black;*/
    font-family: Solway, cursive;
    margin-left: 8.5%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 1200px;
    height: 80px;
    margin-bottom: 30px;
}
.partesuperiortabla {
    color: grey;
}
.parteinferiortabla {
    color: black;
}
.email {
    margin-left: 0%;
    font-size: 100%;
    color: black;
    text-decoration: underline;
}
.tercera {
    background-color: ghostwhite;
    width: 1350px;
    height: 750px;
    padding-top: 20px;
    /*border: 1px solid black;*/
}
.tercera p {
    margin: 30px auto;
    background-color: var(--colorElegido);
    width: 155px;
    height: 23px;
    font-size: 110%;
}
.tercera h2 {
    font-size: 200%;
    margin: 20px auto;
    text-align: center;
}
.padre {
    display: flex;
    justify-content: center;
}
.caja1 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 360px;
    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja1 p {
    text-align: center;
    font-size: 115%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 360px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja1 i { 
    /*margin-top: 50px;*/
    width: 360px;
    height: 60px;
    color: rgb(181, 245, 168);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja1 h3 strong {
    width: 360px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
.padre2 {
    display: flex;
    justify-content: center;
}
.caja2 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 360px;
    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja2 p {
    text-align: center;
    font-size: 115%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 360px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja2 i { 
    /*margin-top: 50px;*/
    width: 360px;
    height: 60px;
    color: rgb(181, 245, 168);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja2 h3 strong {
    width: 360px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
.cuarta {
    margin: 46px auto;
    width: 1350px;
    height: 850px;
    padding-top: 20px;
    /*border: 1px solid black;*/
}
.cuarta p {
    background-color: var(--colorElegido);
    width: 85px;
    height: 23px;
    font-size: 110%;
}
.cuarta h2 {
    font-size: 200%;
    margin: 20px auto;
    text-align: center;
}
.cuartaBis {
    display: flex;
    margin-left: 8.5%;
    margin-right: 8.5%;
    flex-wrap: nowrap;
    width: 1100px;
    height: 600px;
    /*border: 1px solid black;*/
}
.cuartaBis div{
    flex-direction: column;
    display: flex;
    width: 550px;
    height: 600px;
    border-left: 2px solid var(--colorElegido);
}
.cuarta2 {
    display: flex;
    margin-top: 5%;
    margin-left: 8.5%;
    margin-right: 8.5%;
    flex-wrap: nowrap;
    width: 1100px;
    height: 60px;
    /*border: 1px solid black;*/
}
.cuarta2 h2 {
    flex-direction: column;
    font-size: 200%;
    display: flex;
    width: 550px;
    height: 60px;
    /*border: 1px solid black;*/
    text-align: left;

}
/*.cuartaBis div div{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}*/
.miEducación {
    flex-direction: column;
    /*border: 1px solid black;*/
}
.miEducación h2 {
    margin-left: 2%;
    margin-top: 3%;
    font-size: 150%;
    /*border: 1px solid black;*/
    width: 550px;
    height: 40px;
    text-align: left;

}
.miEducación h3 {
    margin-left: 2%;
    margin-top: 0;
    font-size: 120%;
    /*border: 1px solid black;*/
    width: 550px;
    height: 40px;
    text-align: left;
}
.miEducación p {
    margin-left: 2%;
    margin-top: 0%;
    width: 550px;
    height: 60px;
    color: grey;
    /*border: 1px solid black;*/
    text-align: left;
    background-color: white;
}
.quinta {
    display: flex;
    margin-top: 5%;
    margin-left: 8.5%;
    margin-right: 8.5%;
    width: 1050px;
    height: 60px;
    /*border: 1px solid black;*/
}
.quinta h2 {
    /*border: 1px solid black;*/
    margin-left: 0%;
    height: 30px;
    width: 240px;

}
.quintaBis {
    display: flex; 
    justify-content: space-between;
    /*border: 1px solid black;*/
    margin-left: 8.5%;
    margin-top: 3%;
    width: 525px;
    height: 250px;
}
.quintaBis div {
   /*border: 1px solid black;*/
    }
.quintaBis h3 {
    margin-top: 10px;
    width: 525px;
    height: 50px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content:space-between;
    font-size: 100%;
}
.quintaBis span {
    /*align-content: space-between;*/
    /*border: 1px solid black;*/
    width: 70px;
    height: 35px;
    margin-left: 69%;
    text-align: left;
}

meter {
    margin-top: 10px;
    width: 535px;
    height: 20px;
    padding-right: 5%;
  }
  
  meter::-webkit-meter-optimum-value {
    background: var(--colorElegido);
  }
  .botonCV {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    color: var(--colorElegido);
    border: 1px solid black;
    font-size: 100%;
    width: 180px;
    height: 50px;
    background-color: white;
    justify-content: center;
    margin-left: 41%;
    margin-top: 50px;

  }
  .botonCV a {
    text-decoration: none;
  }
  .sexta {
    background-color: var(--colorParaFondo);
    width: 1350px;
    height: 1600px;
    padding-top: 30px;
    margin-top: 50px;
    /*border: 1px solid black;*/
  }
  .sexta p {
    margin-top: 50px;
    
    width: 78px;
    height: 25px;
  }
  .navbar2  {
    
    width: 580px;
    height: 35px;
    padding: 20 px auto;
    justify-content: space-around;
    font-size: 110%;
    margin: 30px auto;
    text-align: center;
    word-spacing: 20px;
  }
  .navbar2 a {
    text-decoration: none;
    color: gray;
    /*padding-left: 100px;*/
  }
  .imagenes {
    margin-top: 10px;
    margin-left: 8.5%;
    display: flex;
    width: 1100px;
    height: 600px;
    /*border: 3px solid black;*/
    justify-content: space-between;
    
  }
  .imagen1 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
 }
  .imagen2 {
    /*border: 1px solid black;*/
    flex: 0 1 33%;
  }
  .imagen3 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
  }
  .imagenes2 {
    margin-top: 10px;
    margin-left: 8.5%;
    display: flex;
    width: 1100px;
    height: 600px;
    /*border: 3px solid black;*/
    justify-content: space-between;
    
  }
  .imagen4 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
 }
  .imagen5 {
    /*border: 1px solid black;*/
    flex: 0 1 33%;
  }
  .imagen6 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
  }
  .septima {
    width: 1350px;
    height: 427px;
    background-image: url("manos_sobre_teclado.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*opacity: 0.5;*/
    
  }
  .septima h1 {
    margin-top: 0;
    margin-bottom: 100px;
    width: 1000px;
    padding-left: 24%;
    padding-top: 75px;
    color: white;
    
  }
  .septima button {
    margin-left: 550px;
    background-color: var(--colorElegido);
    width: 200px;
    height: 80px;
    justify-content: center;
    padding-bottom: 10px;
  }
  .septima a {
    padding-right: 33px;
    text-align: center;
    color: black;
    font-size: 60%;
}
.octava {
    width: 1350px;
    height: 1000px;
    /*border: 1px solid black;*/
    display: flex;
    background-color: var(--colorElegido);
    }
.octava2 {
    margin-left: 9.5%;
    width: 610px;
    height: 1000px;
    /*border: 1px solid black;*/
}
.octava2 h1 {
    margin: 100px 0;
    font-size: 220%;
}
.octava2 h3 {
    margin-top: 60px;
    color: rgb(58, 57, 57);
    text-align: justify;
    padding-right: 15%;
}
.negrita strong {
    color: black;
}
.negrita p {
    color: rgb(58, 57, 57);  
}
.octava2 p {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0px;
    color: rgb(58, 57, 57);
    text-align: justify;
    /*border: 1px solid black;*/
}
.redes {
    word-spacing: 15px;
    width: 150px;
    height: 45px;
    
}
.redes a {
    width: 200px;
    justify-content: space-between;
    height: 60px;
    
    margin-top: 45px;
    margin-left: 0%;
    color: black;
    font-size: 200%;
}
.octava3 h1 {
    margin: 100px 0;
    font-size: 220%;
}
form {
    /*background-color: aquamarine;*/
    width: 525px;
    height: 500px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}
label {
    margin: 20px 0;
}
input[type=text] {
    
    padding: 30px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: var(--colorElegido);
}
textarea {
    margin-bottom: 0;
    min-height: 80px;
    background-color: var(--colorElegido);
    border: 0;
    border-bottom: 1px solid black;
    resize: vertical;
}
