@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Solway&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --colorOriginal: rgb(245,223,78);
    --colorElegido: rgb(120,240,121);
    --colorParaFondo: rgb(248,249,250);
    --colorOpcional: rgb(3,252,255);
    --paraBordes: 1px solid black;
}
html {
    scroll-behavior: smooth;
}
body {
    /*margin-left: 10%;
    background-color: blue;*/
}
header {
    /*padding-left: 8.5%;*/
    font-family: Solway, cursive;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white ;
    box-shadow: 0px 5px 5px gray;
}
header h3 {
    margin-left: 9%;
    width: 180px;
    height: 40px;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
    
}
header nav {
    word-spacing: 30px;
    width: 737px;
    height: 40px;
    text-decoration: none;
    margin-top: 20px;
    padding-left: 50px;
    color: black;
    font-size: 100%;
}
header nav a:hover {
    text-decoration: underline;
    color: var(--colorElegido);
}
header div {
    word-spacing: 15px;
    width: 200px;
    text-decoration: none;
    text-align: left;
    height: 45px;
    margin-top: 15px;
    color: black;
    font-size: 150%;
}
header a {
    color: black;
    text-decoration: none;
    text-align: center;
    /*justify-content: center;*/
}
a:hover {
    color: var(--colorElegido);
}
main {
    font-family: Solway;
    /*width: 1360px;
    height: 550px;
    background-color: rgb(255, 0, 34);
    border: 1px solid black;*/
}
/*aca empieza primera seccion con foto de perfil*/

.primera {
    display: flex;
    width: 100%;
    height: 580px;
    background-color: var(--colorElegido);
}
.primeraIzq{
    margin-left: 8.5%;
    width: 41.5%;
    height: 580px;
    
}
.primeraIzq h2 {
    padding-top: 200px;
    font-size: 200%;
    margin-bottom: 30px;
}
@keyframes maqEscribir {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
/*@keyframes parpadeo {
    0%,100% {
        border-color :transparent;
    }
    50% {
        border-color: black;
    } NO FUNCIONA TREANSICION*/
    
}


.primeraIzq h1 {
    animation: maqEscribir 3s steps(13) 3;
    
}
.primeraIzq h1 {
    font-size: 410%;
    margin-bottom: 20px;
    border-right: 5px solid black;
    overflow: hidden;

}
.primeraIzq p {
    font-size: 150%;
    margin-bottom: 30px;
}
.primeraIzq a{
    text-decoration: none;
    padding: 20px;
}
.mistrabajos {
    border: var(--paraBordes);
    color: white;
    background-color: black;
    text-decoration: none;
}
.contactame {
    color: black;
}
.contactame:hover {
    color: white;
}
.imagenPerfil {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 125px;
    border-radius: 250px;
    border: 15px solid white;
    
}
.flecha{
    display: flex;
    /*border: 1px solid black;*/
    font-size: 100%;
    width: 100%;
    height: 30px;
    background-color: var(--colorElegido);
    justify-content: center;
    margin: 0 auto;
}
/*aca empieza segunda seccion con presentación*/
.segunda {
    padding-top: 10px;
    width: 100%;
    height: 650px;
        /*padding-bottom: 20px;*/
}
.segundabis {
    display: flex;
    /*border: 1px solid black;*/
    width: 100%;
    height: 375px;
}
.encabezado1 p{
    color: black;
    /*border: 1px solid black;*/
    background-color: var(--colorElegido);
    align-items: center;
    margin: 100px auto;
    font-size: 100%;
    width: 102px;
    height: 22px;
    
}
.encabezado1 h2 {
    color: black;
    /*border: 1px solid black;*/
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 200%;
}
.presentación {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.presentación h2 {
    /*border: 1px solid black;*/
    margin-left: 16.5%;
    margin-top: 5%;
    font-size: 200%;
    width: 725px;
    height: 50px;
}
.presentación h2 span {
    text-decoration: underline rgb(181, 245, 168);
}
.presentación p {
    /*border: 1px solid black;*/
    margin-left: 16.5%;
    margin-top: 1%;
    font-size: 150%;
    width: 725px;
    height: 200px;
}
.experiencia {
    /*border: 1px solid black;*/
    margin-left: 10%;
    margin-top: 2.7%;
    margin-right: 0%;
    width: 400px;
    height: 258px;
}
@keyframes escala {
    0%{
        transform: scale(1.0)
    }
    50%{
        transform: scale(1.5)
    } 
    100% {
        transform: scale 1.2;
    }
}
.experiencia h1 {
    display: flex;
    /*border: 1px solid black;*/
    border-radius: 100px;
    font-size: 1300%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px; 
    background-color: var(--colorElegido);
    /*padding: 60px;*/
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 20px;
    animation-name: escala;
    animation-duration: 6s;
    animation-iteration-count: 2;
}

.experiencia h4 {
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
}
.tabladatos {
    margin-top: 30px;
    font-family: Solway, cursive;
    margin-left: 9%;
    width: 1200px;
    height: 80px;
    margin-bottom: 30px;
    /*border: var(--paraBordes);*/
}
.partesuperiortabla {
    color: grey;
}
.parteinferiortabla {
    color: black;
}
.email {
    margin-left: 0%;
    font-size: 100%;
    color: black;
    text-decoration: underline;
}
/*aca empieza tercera seccion sobre lo que puedo hacer*/
.tercera {
    padding-top: 80px;
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 850px;
}
.tercera p {
    margin: 40px auto;
    background-color: var(--colorElegido);
    width: 155px;
    height: 23px;
    font-size: 110%;
}
.tercera h2 {
    font-size: 200%;
    margin: 30px auto;
    text-align: center;
}
.padre {
    display: flex;
    justify-content: center;
}
.caja1 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja1 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja1 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja1 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}
.padre2 {
    display: flex;
    justify-content: center;
}
.caja2 {
    margin: 0 10px;
    /*border: 1px solid black;*/
    width: 350px;
    height: 260px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}
.caja2 p {
    text-align: center;
    font-size: 120%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 330px;
    height: 120px;
    background-color: ghostwhite;
    color: gray;
    padding-top: 30px;
}
.caja2 i { 
    /*margin-top: 50px;*/
    width: 350px;
    height: 60px;
    color: var(--colorElegido);
    font-size: 50px;
    /*background-color: aqua;*/
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-left: 140px;*/
    /*border: 1px solid black;*/
    justify-content: center;
}
.caja2 h3 strong {
    width: 350px;
    /*height: 190px;*/
    /*border: 1px solid black;*/
    margin-top: 20px;
    font-size: 150%;
    padding-top: 30px;
}/*ava empieza cuarta seccion resumen de cv*/
.cuarta {
    margin: 46px auto;
    width: 100%;
    height: 869px;
    padding-top: 80px;
    overflow: hidden;
}
.cuarta p {
    background-color: var(--colorElegido);
    width: 82px;
    height: 23px;
    font-size: 110%;
}
.cuarta h2 {
    font-size: 200%;
    margin: 20px auto;
    text-align: center;
}
.cuartaBis {
    display: flex;
    margin-left: 8.5%;
    margin-right: 8.5%;
    flex-wrap: nowrap;
    width: 1100px;
    height: 600px;
    /*border: 1px solid black;*/
}
.cuartaBis div{
    flex-direction: column;
    display: flex;
    width: 550px;
    height: 600px;
    border: 0;
    border-left: 2px solid var(--colorElegido);
}
.cuarta2 {
    display: flex;
    margin-top: 5%;
    margin-left: 8.5%;
    margin-right: 8.5%;
    flex-wrap: nowrap;
    width: 1100px;
    height: 60px;
    /*border: 1px solid black;*/
}
.cuarta2 h2 {
    flex-direction: column;
    font-size: 200%;
    display: flex;
    width: 550px;
    height: 60px;
    /*border: 1px solid black;*/
    text-align: left;

}
/*.cuartaBis div div{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}*/
.miEducación {
    flex-direction: column;
    /*border: 1px solid black;*/
}
.miEducación h2 {
    margin-left: 2%;
    margin-top: 3%;
    font-size: 150%;
    /*border: 1px solid black;*/
    width: 550px;
    height: 40px;
    text-align: left;

}
.miEducación h3 {
    margin-left: 2%;
    margin-top: 0;
    font-size: 120%;
    /*border: 1px solid black;*/
    width: 550px;
    height: 40px;
    text-align: left;
}
.miEducación p {
    margin-left: 2%;
    margin-top: 0%;
    width: 550px;
    height: 60px;
    color: grey;
    /*border: 1px solid black;*/
    text-align: left;
    background-color: white;
}/*aca empieza quinta seccion con mis habilidades*/
.quinta {
    display: flex;
    padding-top: 50px;
    margin-top: 5%;
    padding-left: 8.5%;
    /*margin-right: 8.5%;*/
    width: 1070px;
    height: 60px;
}
.quinta h2 {
    /*border: 1px solid black;*/
    margin-left: 0%;
    height: 30px;
    width: 240px;

}
.quintaBis {
    display: flex; 
    justify-content: space-between;
    margin-left: 8.5%;
    margin-top: 3%;
    width: 550px;
    height: 250px;
}
.quintaBis div {
   /*margin-left: 0;
   border: 1px solid greenyellow;
   justify-content: space-between;*/
    }
.quintaBis h3 {
    margin-top: 10px;
    /*para controlar ancho barra*/
    width: 560px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    font-size: 100%;
}
.quintaBis span {
    /*align-content: space-between;*/
    /*border: 1px solid black;*/
    width: 70px;
    height: 35px;
    margin-left: 69%;
    text-align: left;
}
.barraDeProgreso {
    margin-top: 10px;
    /*margin-right: 5%;*/
    width: 480px;
    height: 10px;
    /*para controlar barra de progreso*/
    padding-right: 5%;
    border-radius: 5px; 
    overflow: hidden; 
    background-color: gainsboro; 
}
.porcentaje1 {
    width: 288px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje2 {
    width: 432px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje3 {
    width: 408px;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje4 {
    width: 80%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
.porcentaje5 {
    width: 70%;
    height: 10px;
    background-color: var(--colorElegido);  
}
.porcentaje6 {
    width: 95%;
    height: 10px;
    /*border: var(--paraBordes);*/
    background-color: var(--colorElegido);  
}
/* función "meter" probada descartada por no respetar la position fija del header
meter {
    margin-top: 10px;
    width: 535px;
    height: 20px;
    padding-right: 5%;
  }
  meter::-webkit-meter-optimum-value {
    background: var(--colorElegido);
  }*/
  .botonCV {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    color: var(--colorElegido);
    border: 1px solid black;
    font-size: 100%;
    width: 180px;
    height: 50px;
    background-color: white;
    justify-content: center;
    margin: 50px 42.5%;
    /*margin-left: 41%;
    margin-top: 50px;*/

  }
  .botonCV a {
    text-decoration: none;
  }/*aca empieza sexta seccion sobre proyectos*/
  .sexta {
    background-color: var(--colorParaFondo);
    width: 100%;
    height: 1600px;
    padding-top: 70px;
    margin-top: 50px;
  }
  .sexta p {                    
    margin: 50px 46%;
    width: 78px;
    height: 25px;
  }
  .navbar2  {
    
    width: 580px;
    height: 35px;
    padding: 20 px auto;
    justify-content: space-around;
    font-size: 110%;
    margin: 30px auto;
    text-align: center;
    word-spacing: 20px;
  }
  .navbar2 a {
    text-decoration: none;
    color: gray;
    /*padding-left: 100px;*/
  }
  .imagenes {
    margin-top: 10px;
    margin-left: 8.5%;
    display: flex;
    width: 1100px;
    height: 600px;
    /*border: 3px solid black;*/
    justify-content: space-between;  
  }
  .imagen1 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
    max-width: 32%;
 }
  .imagen2 {
    /*border: 1px solid black;*/
    flex: 0 1 33%;
    max-width: 33% ;
  }
  .imagen3 {
    /*border: 1px solid black;*/
    max-width: 32%;
    flex: 0 1 32%;
  }
  .imagenes2 {
    margin-top: 10px;
    margin-left: 8.5%;
    display: flex;
    width: 1100px;
    height: 600px;
    /*border: 3px solid black;*/
    justify-content: space-between;
    
  }
  .imagen4 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
    max-width: 32%;
 }
  .imagen5 {
    /*border: 1px solid black;*/
    flex: 0 1 33%;
    max-width: 33%;
  }
  .imagen6 {
    /*border: 1px solid black;*/
    flex: 0 1 32%;
    max-width: 32%;
  }/*aca empieza septima con imagen de fondo*/
  .septima {
    width: 100%;
    height: 427px;
    background-image: url("manos_sobre_teclado.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
  }
  .septima h1 {
    margin: 0 auto;
    width: 800px;
    padding-left: 15%;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    font-size: 250%;
    
  }
  .septima button {
    margin-left: 550px;
    background-color: var(--colorElegido);
    width: 200px;
    height: 80px;
    justify-content: center;
    
    
  }
  .septima a {
    padding-top: 50px;
    text-decoration: none;
    
    color: black;
    font-size: 150%;
} /*aca empieza footer*/
.octava {
    width: 100%;
    height: 900px;
    display: flex;
    background-color: var(--colorElegido);
    }
.octava2 {
    margin-left: 8.9%;
    width: 610px;
    height: 900px;           
}
.octava2 h1 {
    margin: 105px 0;
    font-size: 220%;
    }
.octava2 h3 {
    margin-top: 60px;
    color: rgb(58, 57, 57);
    /*text-align: justify;*/
    padding-right: 15%;
}

.octava2 p {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0;
    color: rgb(17, 17, 17);
    text-align: justify;
}
.redes {
    /*width: 240px;
    height: 45px;
    border: var(--paraBordes);
    margin-top: 130px;*/
    position: relative;
    top: 110px;
    
}
.redes i {
    margin-left: 0px;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 200%;
    justify-content: left;
}
.redes i:hover {
    color: gray;
}
.iconos {
    color: var(--colorElegido);
}
.octava3 h1 {
    margin: 100px 0;
    font-size: 220%;
}
form {
    /*background-color: aquamarine;*/
    width: 480px;
    height: 500px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}
label {
    margin: 15px 0 25px 0;
}
input[type=text] {
    
    padding: 30px;
    border: 0;
    border-bottom: 1px solid black;
    background-color: var(--colorElegido);
}
textarea {
    margin-bottom: 0;
    min-height: 80px;
    background-color: var(--colorElegido);
    border: 0;
    border-bottom: 1px solid black;
    resize: vertical;
}
.botonEnviar {
    /*border: var(--paraBordes);*/
    background-color: black;
    width: 200px;
    height: 180px;
    margin: 70px 0 0 0;
    font-size: 120%;
    padding: 15px 0;
    color: white;
}
.botonEnviar a {
    font-size: 100%;
    color: white;
}

